mtg-client-all/mtg-client-utils/resources/schemas/login.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="type"/>
        <xs:element ref="username"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="type">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOGIN"/>
      <xs:enumeration value="LOGOUT"/>
    </xs:restriction>
  </xs:simpleType>
  </xs:element>
  <xs:element name="username" type="xs:NCName"/>
</xs:schema>
